@model MvcClientApp.Models.Orders

@{
    ViewData["Title"] = "Reciept";
}

<h1>Reciept</h1>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Oid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Oid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dateoforder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dateoforder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Totalcost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Totalcost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Oid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
